body {
	background-color: #f4f5f7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
}

.container {
max-width: 750px;
margin: 100px auto 0 auto;}

.headline {
	font-size: 100px;
	line-height: 95px;
	font-family: "Karma"
}
.body {
	font-size: 22px;
	line-height: 32px;
	font-family: Georgia;
}
